<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@java-may28.cw1bezk6gvor.us-west-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		
		<property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.revature.models.Bear" />
		<mapping class="com.revature.models.Beehive" />
		<mapping class="com.revature.models.Cave" />
	</session-factory>
</hibernate-configuration>