<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
<servlet>
<description></description>
<display-name>FrontController</display-name>
<servlet-name>FrontController</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FrontController</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>
  
  <!-- 


<servlet>
<description></description>
<display-name>Home</display-name>
<servlet-name>Home</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Home</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<servlet>
<description></description>
<display-name>EmployeeInfo</display-name>
<servlet-name>EmployeeInfo</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EmployeeInfo</servlet-name>
<url-pattern>/empInfo</url-pattern>
</servlet-mapping>

<servlet>
<description></description>
<display-name>UserInfo</display-name>
<servlet-name>UserInfo</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UserInfo</servlet-name>
<url-pattern>/userInfo</url-pattern>
</servlet-mapping>

<servlet>
<description></description>
<display-name>RemInfo</display-name>
<servlet-name>RemInfo</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemInfo</servlet-name>
<url-pattern>/remInfo</url-pattern>
</servlet-mapping>

<servlet>
<description></description>
<display-name>RemReq</display-name>
<servlet-name>RemReq</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemReq</servlet-name>
<url-pattern>/remReq</url-pattern>
</servlet-mapping>

<servlet>
<description></description>
<display-name>RemUpd</display-name>
<servlet-name>RemUpd</servlet-name>
<servlet-class>com.revature.controller.FrontController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RemUpd</servlet-name>
<url-pattern>/remUpd</url-pattern>
</servlet-mapping>

-->
</web-app>