<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Manage Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/scripts/Manage.js"></script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
		<ul class="nav nav-pills">
        	<li class="nav-item">
        		<a class="nav-link" href="http://localhost:8080/Project1/home">Profile</a>
        	</li>
        	
        	<li class="nav-item">
        		<a class="nav-link" href="http://localhost:8080/Project1/manage">Update Profile</a>
        	</li>
        	
        	<li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/Project1/requests">Create a request</a>
        	</li>	
        </ul> 
        </div>
    </nav>
	<div class="container">
		<h1>Fill out the fields you want to update in your profile</h1>
	</div>
	<hr>
	<br>
	<br>
	<div class="container" id="newProfile">
		<h2>This is your updated profile</h2>
		<!--  <h3 id="user-title">Username:</h3>
        <br> -->
        <h3 id="name-field">Name:</h3>
        <br>
        <h3 id="email-field">Email:</h3>
        <br>
        <h3 id="password-field">Password:</h3>
        <br>
        <hr>
        <br>
	</div>
	<div class="container" id="form">
		<form>
			<label>Full Name</label>
			<input type="text" id="fullname" class="form-control"/> <br>
			<!-- <label>Username</label>
			<input type="text" id="username" class="form-control"/> <br> -->
			<label>Password</label>
			<input type="password" id="password" class= "form-control"/> <br>
			<label>Email</label>
			<input type="text" id="email" class="form-control"/> <br>
			<button id="submit" class="btn btn-primary">Update!</button>			
		</form>
	</div>   
</body>
</html>