<!-- 1. Highlight Component
a. Create a component which has some filler text - the background of the text
should change to the color of your choice when you hover over the text -->
<p [ngClass]='colorChange' (mouseover)='changeBackground($event)' (mouseout)='changeBackground($event)'>That's crazy. You can't make a mistake. Anything that happens you can 
  learn to use - and make something beautiful out of it. We'll put all the 
  little clouds in and let them dance around and have fun. I get carried away 
  with this brush cleaning. I was blessed with a very steady hand; and it comes
   in very handy when you're doing these little delicate things. Use your 
   imagination, let it go.</p>

