<div class = "container center-block bg-secondary rounded">
  <h2 class = "text-center text-white">Select Component</h2>
  <hr>
  <div class = "center-block text-center">
    <p>Select a list</p>
    <form>
      <input type = "radio" name = "select" (click) = "selectList('animals')">Animals
      <input type = "radio" name = "select" (click) = "selectList('colors')">Colors
      <input type = "radio" name = "select" (click) = "selectList('days')">Days
    </form>
    <!-- <button class = "btn btn-primary w-25 mx-2" (click) = "selectList('animals')">Animals</button><button class = "btn btn-primary w-25 mx-2" (click) = "selectList('colors')">Colors</button><button class = "btn btn-primary w-25 mx-2" (click) = "selectList('days')">Days</button> -->
    <hr>
    <div class = "bg-white mx-2 rounded text-center flex-container">
      <ul class = "mx-2 text-center">
        <li *ngFor = "let element of selectedList">{{element}}</li>
      </ul>
    </div>
  </div>
  <br>
</div>
  