<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean name="bearWithConstructor" class="com.revature.beans.BearWithConstructor" scope="prototype">
		<constructor-arg ref="cave"></constructor-arg>
	</bean>
	
	<bean name="bearWithSetter" class="com.revature.beans.BearWithSetter">
		<property name="cave" ref="cave"></property>
	</bean>
	
	<bean name="bearWithAutowiring" class="com.revature.beans.BearWithAutowiring" autowire="byName"></bean>

	<bean name="cave" class="com.revature.beans.Cave">
		<property name="id" value="13"></property>
		<property name="name" value="Mammoth Cave"></property>
	</bean>

	<context:component-scan base-package="com.revature.beans"></context:component-scan>

</beans>