<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager</title>
</head>
<body>
<h1>Employee Account</h1>
    <table class="table table-dark" id="EmployeesTable">
            <tr id="header-row">
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Monthly Salary</th>
              <th scope="col">Start Date</th>
              <th scope="col">Full Time</th>
              <th scope="col">Manager</th>
            </tr>
          
    </table>
<script src="Static/Scripts/Manager.js"></script>
</body>
</html>