<!DOCTYPE html>
<html>
<head>
	<title>Add Reimbursement</title>
	<link type="text/css" rel="stylesheet" href="http://localhost:8080/reimburse/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">the reimbursement application</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="http://localhost:8080/reimburse/home">Home</a></li>
	      <li><a href="http://localhost:8080/reimburse/add">add reimbursement</a></li>
   	      <li><a href="http://localhost:8080/reimburse/approve">approve reimbursements</a></li>
   	      <li><a id="logout" href="http://localhost:8080/reimburse/login">logout</a></li>
	    </ul>
	  </div>
	</nav>
	<h1 class="h1">Revature</h1>
	<h4 class="text-muted">advancing talent and technologies</h4>
	<h3>Add Reimbursement Form</h3>

		<tr class="form-row">
			<div class="form-group col-md-6">
				<label class="label">Category</label>
				<input type="text" id="category" placeholder="travel" class="form-control"/>
			</div>
		</tr>
        <tr class="form-row">
			<div class="form-group col-md-6">
				<label class="label">Amount</label>
				<input type="number" id="amount" min="0.01" step="0.01" name="amount" value="7.33" />
			</div>
        </tr>
        <tr class="form-row">
			<div class="form-group col-md-6">
				<label class="label">Date Submitted</label>
				<input disabled value="06/26/2019" type="string" id="dateSubmitted" placeholder="06/26/2019" class="form-control"/>
			</div>
        </tr>
        <tr class="form-row">
			<div class="form-group col-md-6">
				<label class="label">Employee ID</label>
				<input type="number" id="employeeId" placeholder="7" class="form-control"/>
			</div>
        </tr>
		 <button id="add-reimbursement-btn" class="btn btn-primary">submit</button>
	
	<div style="clear: both;"></div>
	
	<p>
		<a href="http://localhost:8080/reimburse/api/employees">view list of employees</a>
	</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="http://localhost:8080/reimburse/static/Scripts/addReimbursementForm.js"></script>
</body>

</html>