/* change navbar bg */
.custom-navbg {
  background-color : rgb(96, 117, 122);
  border-color : rgb(53, 58, 59);
}

/* Make gradient fill entire page  */
html {
  height: 100;
}

/* Gradient background */
body {
  height: 100% !important;
  z-index: 999;
  background-image: linear-gradient( rgb(214, 238, 238), rgb(160, 193, 202), rgb(214, 238, 238))
}

/* border around entire webpage */
#top, #bottom, #left, #right {
	background: #2a3528;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
    #bottom { bottom: 0; }
  
/* Sidebar */
.wrapper {
  display: flex; 
  align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    padding: 25px;
    background: rgb(224, 238, 243);
    transition: all 0.3s;

}

#sidebar.active {
    margin-left: -350px;
}

a:visited {
  color: rgb(35, 153, 80);
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  padding: 5px;
  margin: 10px;
  color: rgb(14, 14, 15);
}

.btn  { 
  color: black;
  }

.btn-link  { 
color: rgb(186, 212, 243);
}

.btn-link :hover {
  color: aqua;
}

.card-header {
  background-color:  rgb(96, 117, 122);
}

.table {
  background-color:  rgb(147, 174, 180);
}

